.header {
  display: flex;
  background-color: black;
  padding: 15px;
  height: 25px;
  .links {
    display: flex;
    transition: all 300ms ease-in-out;
    &:hover {
      transform: scale(1.2);
    }
  }
}
