.main {
  display: flex;
  flex-direction: column;
  .runesDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    gap: 25px;
    margin-bottom: 25%;
    max-width: 320px;
    margin-left: auto;
    margin-right: auto;
    .titleDiv {
      display: flex;
      gap: 10px;
    }
  }
}

@media only screen and (min-width: 1000px) {
  .main {
    .runesDiv {
      max-width: 1000px;
      text-align: center;
      font-size: 18px;
    }
  }
}
