.main {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
  .introDiv {
    display: flex;
    background-image: url("../public/classic-login.jpg");
    background-position: 35%;
    background-size: 900px;
    background-repeat: no-repeat;
    color: black;
    justify-content: center;
    align-items: center;
    border: 2px white solid;
    width: 320px;
    height: 320px;
    margin-top: 20px;
    border-radius: 4px;
    .titleText {
      font-size: 39px;
      margin-left: 30%;
    }
  }
  .descriptionDiv {
    width: 320px;
    margin-top: 20px;
  }
  .classIconsDiv {
    display: flex;
    flex-wrap: wrap;
    width: 200px;
    margin-top: 20px;
    margin-bottom: 20px;
    justify-content: space-between;
    align-items: center;
    & :hover {
      transform: scale(1.07);
    }
  }
}
